* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbfbfb;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 2px;
}

a :focus {
  color: black;
}

@media only screen and (min-width: 900px) {
  .footerContainer, .content, .header {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.dot, .prev,
.next, .basket-box, .topbarsearch button:hover {
  cursor: pointer;
}

nav a :hover, .topbarsearch button:hover {
  border-bottom: 1px solid black;
}

.topbarsearch button {
  background: transparent;
  border: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title, a {
  text-decoration: none;
  color: black;
}

header {
  border-bottom: 1px solid #cccccc;
}

.header {
  align-items: center;
}

.title {
  font-size: 30px;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
}
nav a {
  margin-left: 15px;
}
.basket-box {
  display: flex;
  margin-left: 15px;
  align-items: center;
  height: 50px;
  width: 55px;
  position: relative;
  justify-content: flex-end;
}
.basket-box p {
  margin: 0 2px 0 0;
}
.basket-box ion-icon {
  font-size: 30px;
}

.dropdown {
  position: absolute;
  top: 50px;
  padding: 20px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  right: 0;
  display: none;
  background-color: #fbfbfb;
}

#dropdown-items .basket-item:last-child {
  border-bottom: none;
}

.basket-item {
  display: flex;
  border-bottom: 1px solid #717171;
  padding: 10px;
}
.basket-item img {
  max-width: 110px;
  padding: 5px;
}
.basket-item p {
  padding: 5px;
}

#checkout {
  padding: 5px;
  width: 100%;
}

.content {
  overflow: hidden;
}

.carousel {
  padding: 10px;
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.slidetext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slidenumber {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mySlides img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.carouselbtn {
  position: absolute;
  top: 70%;
  right: 5%;
  padding: 5px;
}

.itemTiles {
  float: left;
  width: 33%;
  margin-top: 6px;
}

footer {
  background-color: #5a5a5a;
  margin-top: 15px;
}

.footerContainer {
  display: flex;
  color: white;
}
.footerContainer a {
  color: white;
}

.footerContact {
  text-align: right;
  margin-left: auto;
  width: 50%;
}
.footerContact form * {
  margin-bottom: 5px;
}
.footerContact form input {
  width: 100%;
  padding: 0 5px;
}
.footerContact form textarea {
  width: 100%;
  padding: 0 5px;
}
.footerContact form button {
  margin-bottom: 30px;
  padding: 5px;
}

.email-container {
  display: flex;
}
.email-container label {
  margin-right: 10px;
  width: 80px;
}

label,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.user-message {
  display: flex;
}
.user-message label {
  margin-right: 10px;
  width: 80px;
}

.itemTiles img {
  width: 95%;
}

/*# sourceMappingURL=style.css.map */
