* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* Google Web API to display current location on Map */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 50%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html {
        height: 100%;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 30px;
        padding: 0;
      }
      
      .custom-map-control-button {
        appearance: button;
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        margin: 10px;
        padding: 0 0.5em;
        height: 40px;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

a :focus {
  color: black;
}

@media only screen and (min-width: 900px) {
  .footerContainer, .content, .titlenavbar, .topbar {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.dot, .prev,
.next, .topbarsearch button:hover, .topbarlogin button:hover {
  cursor: pointer;
}

.navbar a:hover, .topbarsearch button:hover, .topbarlogin:hover {
  border-bottom: solid black;
}

.topbarsearch button, .topbarlogin button {
  background: transparent;
  border: transparent;
}

.titlenavbar, .topbar {
  display: flex;
  justify-content: space-between;
}

.title, a {
  text-decoration: none;
  color: black;
}

.topbar {
  padding: 5px;
}

.titlenavbar {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.title {
  font-size: 30px;
}

.navbar a {
  margin-left: 15px;
}

.content {
  overflow: hidden;
}

.carousel {
  padding: 10px;
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.slidetext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slidenumber {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mySlides img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.carouselbtn {
  position: absolute;
  top: 70%;
  right: 5%;
  padding: 5px;
}

/* Start of John/Issy */
.itemTiles {
  float: left;
  width: 33%;
  margin-top: 6px;
}

footer {
  background-color: #5a5a5a;
}

.footerContainer {
  display: flex;
  color: white;
}
.footerContainer a {
  color: white;
}

.footerContact {
  text-align: right;
  margin-left: auto;
  width: 50%;
}
.footerContact form * {
  margin-bottom: 5px;
}
.footerContact form input {
  width: 100%;
  padding: 0 5px;
}
.footerContact form textarea {
  width: 100%;
  height: 35px;
  padding: 0 5px;
}
.footerContact form button {
  margin-bottom: 5px;
  padding: 5px;
}
.footerLinks {
  width:48%;
}

.email-container {
  display: flex;
}
.email-container label {
  margin-right: 10px;
  width: 80px;
}

label,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.location {
  display: flex;
}
.location label {
  margin-right: 10px;
  width: 80px;
}
.deviceType {
  display: flex;

}
.deviceType label {
  margin-right: 10px;
  margin-left:-18px;
  width:80px;
}

.itemTiles img {
  width: 95%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 1.25px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */
