// =============================== General ================================
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbfbfb;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 2px;
}

a {
  @extend %title-shared;
  :focus {
    color: black;
  }
}

%container {
  @media only screen and (min-width: 900px) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

%pointer-shared {
  cursor: pointer;
}

%underline {
  border-bottom: 1px solid black;
}

// ============================== header ============================================

%topbar-shared {
  background: transparent;
  border: transparent;
}

%titlenav-shared {
  display: flex;
  justify-content: space-between;
}

%title-shared {
  text-decoration: none;
  color: black;
}

@mixin padding($property) {
  padding: $property;
}

// .topbar {
//   @extend %container;
//   @extend %titlenav-shared;
//   @include padding(5px);
// }

// .topbarlogin:hover {
//   @extend %underline;
// }

// .topbarlogin button {
//   @extend %topbar-shared;
//

.topbarsearch button {
  @extend %topbar-shared;
}

// .topbarlogin button:hover {
//   @extend %pointer-shared;
// }

.topbarsearch button:hover {
  @extend %pointer-shared;
  @extend %underline;
}

header {
  // background-color: #cecece;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.header {
  @extend %container;
  @extend %titlenav-shared;
  align-items: center;
}

.title {
  @extend %title-shared;
  font-size: 30px;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  a {
    margin-left: 15px;
    :hover {
      @extend %underline;
    }
  }
}
.basket-box {
  @extend %pointer-shared;
  display: flex;
  margin-left: 15px;
  align-items: center;
  height: 50px;
  width: 55px;
  position: relative;
  justify-content: flex-end;
  p {
    margin: 0 2px 0 0;
  }
  ion-icon {
    font-size: 30px;
  }
}

.dropdown {
  position: absolute;
  top: 50px;
  padding: 20px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  right: 0;
  display: none;
  background-color: #fbfbfb;
}

#dropdown-items .basket-item:last-child {
  border-bottom: none;
}

.basket-item {
  display: flex;
  border-bottom: 1px solid #717171;
  padding: 10px;
  img {
    max-width: 110px;
    padding: 5px;
  }
  p {
    padding: 5px;
  }
}

#checkout {
  padding: 5px;
  width: 100%;
}

// ============================== Main ========================================

.content {
  @extend %container;
  overflow: hidden;
}

.carousel {
  padding: 10px;
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.slidetext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slidenumber {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.prev,
.next {
  @extend %pointer-shared;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  @extend %pointer-shared;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mySlides img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.carouselbtn {
  position: absolute;
  top: 70%;
  right: 5%;
  padding: 5px;
}

//  =================================== Tiles ===================================

.itemTiles {
  float: left;
  width: 33%;
  margin-top: 6px;
}

//  =================================== Footer ====================================

footer {
  background-color: rgb(90, 90, 90);
  margin-top: 15px;
}

.footerContainer {
  @extend %container;
  display: flex;
  color: white;
  a {
    color: white;
  }
}

.footerContact {
  text-align: right;
  margin-left: auto;
  width: 50%;
  form * {
    margin-bottom: 5px;
  }

  form input {
    width: 100%;
    padding: 0 5px;
  }

  form textarea {
    width: 100%;
    padding: 0 5px;
  }

  form button {
    margin-bottom: 30px;
    padding: 5px;
  }
}

.email-container {
  display: flex;
  label {
    margin-right: 10px;
    width: 80px;
  }
}
label,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.user-message {
  display: flex;
  label {
    margin-right: 10px;
    width: 80px;
  }
}

.itemTiles img {
  width: 95%;
}
